{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content%}
{{block.super}}
<div class="container-fluid background text-center">
    <h1 class="font-weight-bold text-center intro">WELCOME TO THE</h1>
    <h1 class="nei">Neighbourhood</h1>
    <h6 class="intro1">This is a place where you get to know what is happening in your neighbourhood <br>
         be in the loop about everything happening in your neighborhood
    </h6>
    {% if request.user.profile.neighbourhood %}
    {%else%}
    <a href="{%url 'hoods'%}" class="btn mt-4 btn-warning pl-4 pr-4 font-weight-bold black">JOIN HOOD</a>
    {%endif%}
 
</div>
<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h1 class="font-weight-bold hoodapp">Get the most out of your neighborhood with HoodApp</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p class="community">
                It's where communities come together to greet newcomers, 
                exchange recommendations, and read the latest local news. 
                Where neighbors support local businesses and get updates from public agencies. 
                Where neighbors borrow tools and sell couches. It's how to get the most out of 
                everything nearby. Welcome, neighbor.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<div class="container pt-3 mt-5 mb-3">
    <div class="row values">
        <div class="col-md-1"></div>
        <div class="col-md-4 p-1">
            <img src="{%static 'photos/essential.png'%}" alt="">
            <h5 class="font-weight-bold pl-5">Essential</h5>
            <p class="italic">Relevant news and information <br> from neighbors, businesses, and <br> public agencies in real time.</p>
        </div>
        <div class="col-md-3 p-1">
            <img src="{%static 'photos/local.png'%}" alt="">
            <h5 class="font-weight-bold pl-5">Local</h5>
            <p class="italic">The only way to instantly connect <br> to the people, businesses, and <br> happenings near your home.</p>
        </div>
        <div class="col-md-4 trusted">
            <img src="{%static 'photos/trusted.png'%}" alt="">
            <h5 class="font-weight-bold pl-5">Trusted</h5>
            <p class="italic">A secure environment where all <br> neighbors are verified.</p>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
<div class="container pt-4">
    {% if user.is_authenticated %}
    {%else%}
    <h2 class="font-weight-bold hoodapp text-center">Instantly connect with your neighborhood</h2>
    <p class="text-center"><a href="{%url 'register'%}" class="btn mt-4 join pl-4 pr-4 font-weight-bold black">SIGN UP</a></p>
    {%endif%}
   
</div>
<footer class="pt-1 pb-1">
    <div class="container">
    <div class="">
    <div class=" mt-2">
    <p class="copyright text-center"><small>&copy; 2021 All Rights Reserved.</small></p>
    </div>
    </div>
    </div>

</footer>
{%endblock%}