{%extends "base.html"%} 
{% load bootstrap4 %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}

<div class="sign">
    <div class="row pt-3">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <div class="card pb-3">
                <div class="card-body mb-2 mr-3 ml-3">
                    <h6 class="text-muted pb-4">Register  <span class="right-1">Are you a member? <a href="{%url 'login'%}" class="link-color font-weight-bold">Login now.</a> </span> </h6>
                    <form action="" method="post">
                        {% csrf_token%}
                        {{ form|crispy}}
                        <button type="submit" class="btn btn-color text-white login">CREATE YOUR ACCOUNT</button>
                    </form>
                </div>
                <p class="font-weight-bold ml-5 mt-3 pb-1">Or Register in with</p>
                <span>
                <a href="{% url 'social:begin' 'google-oauth2' %}"><button type="button" class="login-with-google-btn ml-5 mb-1" >Continue with Google</button></a>
                <a href="{% url 'social:begin' 'facebook' %}"><button class="loginBtn loginBtn--facebook ml-5 mb-1">Continue with Facebook</button></a>
              </span>
            </div>
        </div>

        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}